@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    overflow: hidden;
    background-color:#222831;
    color: #FFD369;
}

.intro {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    perspective: 450px;
}

.scroll-text {
    flex: 0 0 50vw;
    line-height: 1.5em;
    font-size: 3vw;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 26s linear forwards;
}

.title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 43vh;
}

.title-word.show {
    display: flex;
    animation: text-pop 500ms forwards;
}

.hide {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.column {
    flex-direction: column;
    height: 100vh;
    gap: 10vh;
}

.container.scores {
    gap: 5vw;
}

.container.choices {
    gap: 5vw;
}

.choice {
    height: 200px;
    width: 200px;
    color: #EEEEEE;
    background-color: #393E46;
    border: 3px solid #191e25;
    box-shadow: 0 0 40px 10px #191e25;
    border-radius: 25px;
    transition: all 500ms ease 0s;
}

.choice:hover {
    transform: translateY(-10px) scale(1.05);
    color: #FFD369;
    border-color: #FFD369;
    box-shadow: 0 0 10px #FFD369;
}
@keyframes scroll {
    0% {
        transform: rotateX(20deg) translate3d(0, 90rem, 0);
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: rotateX(20deg) translate3d(0, -100rem, 0);
        opacity: 0;
    }
}

@keyframes text-pop {
    0% {opacity: 0;}
    1% {opacity: 1;}
    99%{opacity: 1;}
    100%{opacity: 0;}
}