@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    overflow: hidden;
    background-color:#222831;
    color: #FFD369;
}

.intro {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    perspective: 450px;
}

.scroll-text {
    flex: 0 0 50vw;
    line-height: 1.5em;
    font-size: 3vw;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 26s linear forwards;
}

.title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40vh;
}

.title-word.show {
    display: flex;
    animation: text-pop 1s forwards;
}

.hide {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.column {
    flex-direction: column;
    height: 100vh;
    gap: 10vh;
}

.game-result, .game-message {
    text-align: center;
}

.game-result {
    font-size: 4rem;
    opacity: 0;
}

.game-result.show {
    animation: fadeIn 2s ease 1.5s forwards;
}

.game-message {
    font-size: 3rem;
    opacity: 0;
}

.game-message.show {
    animation: fadeIn 2s ease forwards;
}

.container.scores {
    height: 30px;
    gap: 1vw;
}

.container.choices {
    gap: 5vw;
}

.choice {
    opacity: 0;
}

.choice.show {
    animation: drop .8s ease forwards;
}

.dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.dot.win {
    background-color: #FFD369;
}

.dot.lose {
    background-color: #191e25;
}

.dot.tie {
    background-color: #393E46;
}


.choice {
    height: 200px;
    width: 200px;
    color: #191e25;
    background-color: #393E46;
    border: 3px solid #191e25;
    box-shadow: 0 0 40px 10px #191e25;
    border-radius: 25px;
    transition: all 500ms ease 0s;
}

.choice:hover {
    transform: translateY(-20px) scale(1.1);
    color: #FFD369;
    border-color: #FFD369;
    box-shadow: 0 0 10px #FFD369;
}

@keyframes scroll {
    0% {
        transform: rotateX(20deg) translate3d(0, 90rem, 0);
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: rotateX(20deg) translate3d(0, -100rem, 0);
        opacity: 0;
    }
}

@keyframes text-pop {
    0%  {opacity: 0;}
    1%  {opacity: 1;}
    99% {opacity: 1;}
    100%{opacity: 0;}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes drop {
    0%  {transform: translateY(-50vh) scaleY(0.9); opacity: 0;}
    20% {opacity: .7;}
    60% {transform: translateY(4vh); opacity: 1;}
    80% {transform: translateY(-2vh); opacity: 1;}
    100% {transform: translateY(0); opacity: 1;}
}